
# This linker configuration is based on the original c64.cfg.
# It has following modifications:
# - LORAM is from $0801 to $1000, this can be seen in Ultimax mode
# - Normal RAM is from $1000 to $7FFF only, because of cartridge ROM
# - Stack and heap are from $C000 to $CFFF

SYMBOLS {
    # Depending from your version of ld65, you need one of these lines:
    #__STACKSIZE__: type = weak, value = $0800;
    __STACKSIZE__ = $0800;
}

MEMORY {
    ZP:     start = $0002, size = $001A, type = rw, define = yes;
    LORAM:  start = $07FF, size = $0801, file = %O, define = yes, fill = yes;
    RAM:    start = $1000, size = $5e00, file = %O, define = yes;
    HIRAM:  start = $C400, size = $0C00, define = yes;
}

SEGMENTS {
    STARTUP:  load = LORAM, type = ro;
    LOWCODE:  load = LORAM, type = ro, optional = yes;
    SPRITES:  load = LORAM, type = ro, align = $40;
    INIT:     load =   RAM, type = ro, define = yes, optional = yes;
    CODE:     load =   RAM, type = ro;
    RODATA:   load =   RAM, type = ro, align = $10;
    DATA:     load =   RAM, type = rw;
    ZPSAVE:   load =   RAM, type = bss;
    BSS:      load =   RAM, type = bss, define = yes;
    HEAP:     load = HIRAM, type = bss, optional = yes; # must sit just below stack
    ZEROPAGE: load =    ZP, type = zp;
}

FEATURES {
    CONDES: segment = INIT,
        type = constructor,
        label = __CONSTRUCTOR_TABLE__,
        count = __CONSTRUCTOR_COUNT__;
    CONDES: segment = RODATA,
        type = destructor,
        label = __DESTRUCTOR_TABLE__,
        count = __DESTRUCTOR_COUNT__;
    CONDES: segment = RODATA,
        type = interruptor,
        label = __INTERRUPTOR_TABLE__,
        count = __INTERRUPTOR_COUNT__;
}



MEMORY {
}

